 <router-outlet>
    <app-navbar></app-navbar>
</router-outlet>
<footer class="container-fluid pt-3 px-5 shadow-lg bg-dark" style="margin-top: 100px;">
    <div class="d-lg-flex justify-content-between">
      <div>
        <a class="navbar-brand" href="#"><img width="40px" class="rounded-5 mb-3" src="../../../../assets/logo.webp" alt="logo"/></a>
      </div>
      <div class="copyright">
        <p class="text-light">Developed And Maintained by <a href="#" target="_blank">company Name</a></p>
      </div>
      <div>
        <ul class="d-flex gap-3 list-unstyled">
          <li><a href="#"><i class="bi bi-facebook text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram text-light"></i></a></li>
        </ul>
      </div>
    </div>
  </footer> 
